@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');

*,*::before, *::after {
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
    font-size: 110%;
}

:root{
    --hue-neutral: rgb(54, 54, 117);
    --hue-wrong:red;
    --hue-correct:green;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--hue-neutral);
}

body.correct {
    --hue:var(--hue-correct);
}

body.wrong {
    --hue:var(--hue-wrong);
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 15px 5px;
}

.button-grid {
    display:grid;
    grid-template-columns: repeat(2, auto);
    gap: 15px;
    margin: 20px 0;
}

.butn {
    background-color: lightblue;
    border: 5px solid darkblue;
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    outline: none;
}

.butn:hover {
    border-color: maroon;
}

.butn.correct {
    --hue:var(--hue-correct);
}

.butn.wrong {
    --hue:var(--hue-wrong);
}

.start-butn, .next-butn {
    font-size: 130%;
    font-weight: bold;
    padding:10px 20px;
}

.control {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

/* social links styling */

.links {
    position: absolute;
    top: 15px;
    right: 20px;
}

.side-links {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 10px;
    color: white;
    width: 150px;
    padding: 10px 0;
    border-radius: 10px;
}

.links-text {
    margin-left: 10px;
    font-size: 18px;
}

.link-icon {
    color:white;
    font-size: 30px;
}

.link-youtube {
    background-color: red;
}

.link-github {
    background-color: blueviolet;
}

.link-facebook {
    background-color: darkblue;
}

.link-twitter {
    background-color: darkcyan;
}